@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #d5e1ef;
}

.card {
  border: none;
}

.card-title {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  text-align: center;
}
